/* basic style */
html,
body {
  position: relative;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse at left top, #fdb7b9 20%, #de5d6f 50%, #b1414d);
}

div {
  transform-style: preserve-3d;
}

.container {
  perspective: 280px;
}
.container_rotate {
  transform: rotate(24deg);
}

/* flip style */
.flip {
  position: absolute;
  top: -280px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}


.rotate:nth-of-type(1) {
  animation: rotation linear infinite reverse;
  animation-delay: -46119ms;
  animation-duration: 42916ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(1) .flip_rotate {
  transform: rotateX(38deg);
}

.rotate:nth-of-type(1) .flip_pos {
  transform: translateY(201px);
}

.rotate:nth-of-type(1) .flip {
  left: calc(30% + 303px);
}

.rotate:nth-of-type(2) {
  animation: rotation linear infinite reverse;
  animation-delay: -48944ms;
  animation-duration: 55367ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(2) .flip_rotate {
  transform: rotateX(10deg);
}

.rotate:nth-of-type(2) .flip_pos {
  transform: translateY(183px);
}

.rotate:nth-of-type(2) .flip {
  left: calc(30% + 364px);
}

.rotate:nth-of-type(3) {
  animation: rotation linear infinite reverse;
  animation-delay: -49043ms;
  animation-duration: 23079ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(3) .flip_rotate {
  transform: rotateX(1deg);
}

.rotate:nth-of-type(3) .flip_pos {
  transform: translateY(367px);
}

.rotate:nth-of-type(3) .flip {
  left: calc(30% + 232px);
}

.rotate:nth-of-type(4) {
  animation: rotation linear infinite reverse;
  animation-delay: -47088ms;
  animation-duration: 22263ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(4) .flip_rotate {
  transform: rotateX(4deg);
}

.rotate:nth-of-type(4) .flip_pos {
  transform: translateY(368px);
}

.rotate:nth-of-type(4) .flip {
  left: calc(30% + 327px);
}

.rotate:nth-of-type(5) {
  animation: rotation linear infinite reverse;
  animation-delay: -44193ms;
  animation-duration: 68798ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(5) .flip_rotate {
  transform: rotateX(29deg);
}

.rotate:nth-of-type(5) .flip_pos {
  transform: translateY(302px);
}

.rotate:nth-of-type(5) .flip {
  left: calc(30% + 358px);
}

.rotate:nth-of-type(6) {
  animation: rotation linear infinite reverse;
  animation-delay: -42409ms;
  animation-duration: 53266ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(6) .flip_rotate {
  transform: rotateX(29deg);
}

.rotate:nth-of-type(6) .flip_pos {
  transform: translateY(190px);
}

.rotate:nth-of-type(6) .flip {
  left: calc(30% + 223px);
}

.rotate:nth-of-type(7) {
  animation: rotation linear infinite reverse;
  animation-delay: -46704ms;
  animation-duration: 49180ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(7) .flip_rotate {
  transform: rotateX(14deg);
}

.rotate:nth-of-type(7) .flip_pos {
  transform: translateY(228px);
}

.rotate:nth-of-type(7) .flip {
  left: calc(30% + 488px);
}

.rotate:nth-of-type(8) {
  animation: rotation linear infinite reverse;
  animation-delay: -48982ms;
  animation-duration: 24590ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(8) .flip_rotate {
  transform: rotateX(8deg);
}

.rotate:nth-of-type(8) .flip_pos {
  transform: translateY(363px);
}

.rotate:nth-of-type(8) .flip {
  left: calc(30% + 436px);
}

.rotate:nth-of-type(9) {
  animation: rotation linear infinite reverse;
  animation-delay: -41543ms;
  animation-duration: 42797ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(9) .flip_rotate {
  transform: rotateX(42deg);
}

.rotate:nth-of-type(9) .flip_pos {
  transform: translateY(235px);
}

.rotate:nth-of-type(9) .flip {
  left: calc(30% + 364px);
}

.rotate:nth-of-type(10) {
  animation: rotation linear infinite reverse;
  animation-delay: -49967ms;
  animation-duration: 32010ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(10) .flip_rotate {
  transform: rotateX(45deg);
}

.rotate:nth-of-type(10) .flip_pos {
  transform: translateY(223px);
}

.rotate:nth-of-type(10) .flip {
  left: calc(30% + 308px);
}

.rotate:nth-of-type(11) {
  animation: rotation linear infinite reverse;
  animation-delay: -44319ms;
  animation-duration: 22104ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(11) .flip_rotate {
  transform: rotateX(24deg);
}

.rotate:nth-of-type(11) .flip_pos {
  transform: translateY(327px);
}

.rotate:nth-of-type(11) .flip {
  left: calc(30% + 464px);
}

.rotate:nth-of-type(12) {
  animation: rotation linear infinite reverse;
  animation-delay: -47594ms;
  animation-duration: 46948ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(12) .flip_rotate {
  transform: rotateX(22deg);
}

.rotate:nth-of-type(12) .flip_pos {
  transform: translateY(355px);
}

.rotate:nth-of-type(12) .flip {
  left: calc(30% + 343px);
}

.rotate:nth-of-type(13) {
  animation: rotation linear infinite reverse;
  animation-delay: -42186ms;
  animation-duration: 44494ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(13) .flip_rotate {
  transform: rotateX(24deg);
}

.rotate:nth-of-type(13) .flip_pos {
  transform: translateY(203px);
}

.rotate:nth-of-type(13) .flip {
  left: calc(30% + 394px);
}

.rotate:nth-of-type(14) {
  animation: rotation linear infinite reverse;
  animation-delay: -48335ms;
  animation-duration: 44465ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(14) .flip_rotate {
  transform: rotateX(12deg);
}

.rotate:nth-of-type(14) .flip_pos {
  transform: translateY(214px);
}

.rotate:nth-of-type(14) .flip {
  left: calc(30% + 480px);
}

.rotate:nth-of-type(15) {
  animation: rotation linear infinite reverse;
  animation-delay: -47337ms;
  animation-duration: 32613ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(15) .flip_rotate {
  transform: rotateX(30deg);
}

.rotate:nth-of-type(15) .flip_pos {
  transform: translateY(295px);
}

.rotate:nth-of-type(15) .flip {
  left: calc(30% + 381px);
}

.rotate:nth-of-type(16) {
  animation: rotation linear infinite reverse;
  animation-delay: -48521ms;
  animation-duration: 33989ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(16) .flip_rotate {
  transform: rotateX(41deg);
}

.rotate:nth-of-type(16) .flip_pos {
  transform: translateY(212px);
}

.rotate:nth-of-type(16) .flip {
  left: calc(30% + 459px);
}

.rotate:nth-of-type(17) {
  animation: rotation linear infinite reverse;
  animation-delay: -45465ms;
  animation-duration: 46626ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(17) .flip_rotate {
  transform: rotateX(44deg);
}

.rotate:nth-of-type(17) .flip_pos {
  transform: translateY(232px);
}

.rotate:nth-of-type(17) .flip {
  left: calc(30% + 427px);
}

.rotate:nth-of-type(18) {
  animation: rotation linear infinite reverse;
  animation-delay: -43322ms;
  animation-duration: 31723ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(18) .flip_rotate {
  transform: rotateX(31deg);
}

.rotate:nth-of-type(18) .flip_pos {
  transform: translateY(301px);
}

.rotate:nth-of-type(18) .flip {
  left: calc(30% + 450px);
}

.rotate:nth-of-type(19) {
  animation: rotation linear infinite reverse;
  animation-delay: -40573ms;
  animation-duration: 43182ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(19) .flip_rotate {
  transform: rotateX(45deg);
}

.rotate:nth-of-type(19) .flip_pos {
  transform: translateY(246px);
}

.rotate:nth-of-type(19) .flip {
  left: calc(30% + 340px);
}

.rotate:nth-of-type(20) {
  animation: rotation linear infinite reverse;
  animation-delay: -40646ms;
  animation-duration: 28069ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(20) .flip_rotate {
  transform: rotateX(18deg);
}

.rotate:nth-of-type(20) .flip_pos {
  transform: translateY(332px);
}

.rotate:nth-of-type(20) .flip {
  left: calc(30% + 224px);
}

.rotate:nth-of-type(21) {
  animation: rotation linear infinite reverse;
  animation-delay: -40179ms;
  animation-duration: 43684ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(21) .flip_rotate {
  transform: rotateX(9deg);
}

.rotate:nth-of-type(21) .flip_pos {
  transform: translateY(346px);
}

.rotate:nth-of-type(21) .flip {
  left: calc(30% + 397px);
}

.rotate:nth-of-type(22) {
  animation: rotation linear infinite reverse;
  animation-delay: -40765ms;
  animation-duration: 57700ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(22) .flip_rotate {
  transform: rotateX(15deg);
}

.rotate:nth-of-type(22) .flip_pos {
  transform: translateY(343px);
}

.rotate:nth-of-type(22) .flip {
  left: calc(30% + 462px);
}

.rotate:nth-of-type(23) {
  animation: rotation linear infinite reverse;
  animation-delay: -44192ms;
  animation-duration: 54721ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(23) .flip_rotate {
  transform: rotateX(32deg);
}

.rotate:nth-of-type(23) .flip_pos {
  transform: translateY(298px);
}

.rotate:nth-of-type(23) .flip {
  left: calc(30% + 372px);
}

.rotate:nth-of-type(24) {
  animation: rotation linear infinite reverse;
  animation-delay: -42640ms;
  animation-duration: 25838ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(24) .flip_rotate {
  transform: rotateX(22deg);
}

.rotate:nth-of-type(24) .flip_pos {
  transform: translateY(212px);
}

.rotate:nth-of-type(24) .flip {
  left: calc(30% + 477px);
}

.rotate:nth-of-type(25) {
  animation: rotation linear infinite reverse;
  animation-delay: -41376ms;
  animation-duration: 41601ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(25) .flip_rotate {
  transform: rotateX(33deg);
}

.rotate:nth-of-type(25) .flip_pos {
  transform: translateY(277px);
}

.rotate:nth-of-type(25) .flip {
  left: calc(30% + 287px);
}

.rotate:nth-of-type(26) {
  animation: rotation linear infinite reverse;
  animation-delay: -49207ms;
  animation-duration: 40105ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(26) .flip_rotate {
  transform: rotateX(38deg);
}

.rotate:nth-of-type(26) .flip_pos {
  transform: translateY(354px);
}

.rotate:nth-of-type(26) .flip {
  left: calc(30% + 248px);
}

.rotate:nth-of-type(27) {
  animation: rotation linear infinite reverse;
  animation-delay: -46057ms;
  animation-duration: 38440ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(27) .flip_rotate {
  transform: rotateX(11deg);
}

.rotate:nth-of-type(27) .flip_pos {
  transform: translateY(216px);
}

.rotate:nth-of-type(27) .flip {
  left: calc(30% + 385px);
}

.rotate:nth-of-type(28) {
  animation: rotation linear infinite reverse;
  animation-delay: -46718ms;
  animation-duration: 48053ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(28) .flip_rotate {
  transform: rotateX(5deg);
}

.rotate:nth-of-type(28) .flip_pos {
  transform: translateY(204px);
}

.rotate:nth-of-type(28) .flip {
  left: calc(30% + 238px);
}

.rotate:nth-of-type(29) {
  animation: rotation linear infinite reverse;
  animation-delay: -40639ms;
  animation-duration: 46482ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(29) .flip_rotate {
  transform: rotateX(43deg);
}

.rotate:nth-of-type(29) .flip_pos {
  transform: translateY(367px);
}

.rotate:nth-of-type(29) .flip {
  left: calc(30% + 382px);
}

.rotate:nth-of-type(30) {
  animation: rotation linear infinite reverse;
  animation-delay: -43117ms;
  animation-duration: 68170ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(30) .flip_rotate {
  transform: rotateX(43deg);
}

.rotate:nth-of-type(30) .flip_pos {
  transform: translateY(323px);
}

.rotate:nth-of-type(30) .flip {
  left: calc(30% + 312px);
}

.rotate:nth-of-type(31) {
  animation: rotation linear infinite reverse;
  animation-delay: -48545ms;
  animation-duration: 60064ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(31) .flip_rotate {
  transform: rotateX(34deg);
}

.rotate:nth-of-type(31) .flip_pos {
  transform: translateY(378px);
}

.rotate:nth-of-type(31) .flip {
  left: calc(30% + 201px);
}

.rotate:nth-of-type(32) {
  animation: rotation linear infinite reverse;
  animation-delay: -49408ms;
  animation-duration: 40476ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(32) .flip_rotate {
  transform: rotateX(2deg);
}

.rotate:nth-of-type(32) .flip_pos {
  transform: translateY(210px);
}

.rotate:nth-of-type(32) .flip {
  left: calc(30% + 415px);
}

.rotate:nth-of-type(33) {
  animation: rotation linear infinite reverse;
  animation-delay: -45881ms;
  animation-duration: 25728ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(33) .flip_rotate {
  transform: rotateX(42deg);
}

.rotate:nth-of-type(33) .flip_pos {
  transform: translateY(289px);
}

.rotate:nth-of-type(33) .flip {
  left: calc(30% + 250px);
}

.rotate:nth-of-type(34) {
  animation: rotation linear infinite reverse;
  animation-delay: -49970ms;
  animation-duration: 20838ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(34) .flip_rotate {
  transform: rotateX(43deg);
}

.rotate:nth-of-type(34) .flip_pos {
  transform: translateY(183px);
}

.rotate:nth-of-type(34) .flip {
  left: calc(30% + 222px);
}

.rotate:nth-of-type(35) {
  animation: rotation linear infinite reverse;
  animation-delay: -41807ms;
  animation-duration: 59002ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(35) .flip_rotate {
  transform: rotateX(20deg);
}

.rotate:nth-of-type(35) .flip_pos {
  transform: translateY(331px);
}

.rotate:nth-of-type(35) .flip {
  left: calc(30% + 395px);
}

.rotate:nth-of-type(36) {
  animation: rotation linear infinite reverse;
  animation-delay: -48887ms;
  animation-duration: 21269ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(36) .flip_rotate {
  transform: rotateX(32deg);
}

.rotate:nth-of-type(36) .flip_pos {
  transform: translateY(257px);
}

.rotate:nth-of-type(36) .flip {
  left: calc(30% + 460px);
}

.rotate:nth-of-type(37) {
  animation: rotation linear infinite reverse;
  animation-delay: -46830ms;
  animation-duration: 22015ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(37) .flip_rotate {
  transform: rotateX(1deg);
}

.rotate:nth-of-type(37) .flip_pos {
  transform: translateY(273px);
}

.rotate:nth-of-type(37) .flip {
  left: calc(30% + 267px);
}

.rotate:nth-of-type(38) {
  animation: rotation linear infinite reverse;
  animation-delay: -47478ms;
  animation-duration: 67493ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(38) .flip_rotate {
  transform: rotateX(21deg);
}

.rotate:nth-of-type(38) .flip_pos {
  transform: translateY(350px);
}

.rotate:nth-of-type(38) .flip {
  left: calc(30% + 424px);
}

.rotate:nth-of-type(39) {
  animation: rotation linear infinite reverse;
  animation-delay: -42408ms;
  animation-duration: 54368ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(39) .flip_rotate {
  transform: rotateX(22deg);
}

.rotate:nth-of-type(39) .flip_pos {
  transform: translateY(297px);
}

.rotate:nth-of-type(39) .flip {
  left: calc(30% + 276px);
}

.rotate:nth-of-type(40) {
  animation: rotation linear infinite reverse;
  animation-delay: -43611ms;
  animation-duration: 35075ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(40) .flip_rotate {
  transform: rotateX(21deg);
}

.rotate:nth-of-type(40) .flip_pos {
  transform: translateY(237px);
}

.rotate:nth-of-type(40) .flip {
  left: calc(30% + 445px);
}

.rotate:nth-of-type(41) {
  animation: rotation linear infinite reverse;
  animation-delay: -42506ms;
  animation-duration: 26676ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(41) .flip_rotate {
  transform: rotateX(37deg);
}

.rotate:nth-of-type(41) .flip_pos {
  transform: translateY(328px);
}

.rotate:nth-of-type(41) .flip {
  left: calc(30% + 409px);
}

.rotate:nth-of-type(42) {
  animation: rotation linear infinite reverse;
  animation-delay: -44622ms;
  animation-duration: 34932ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(42) .flip_rotate {
  transform: rotateX(7deg);
}

.rotate:nth-of-type(42) .flip_pos {
  transform: translateY(327px);
}

.rotate:nth-of-type(42) .flip {
  left: calc(30% + 410px);
}

.rotate:nth-of-type(43) {
  animation: rotation linear infinite reverse;
  animation-delay: -42890ms;
  animation-duration: 69483ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(43) .flip_rotate {
  transform: rotateX(4deg);
}

.rotate:nth-of-type(43) .flip_pos {
  transform: translateY(313px);
}

.rotate:nth-of-type(43) .flip {
  left: calc(30% + 426px);
}

.rotate:nth-of-type(44) {
  animation: rotation linear infinite reverse;
  animation-delay: -48715ms;
  animation-duration: 42434ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(44) .flip_rotate {
  transform: rotateX(10deg);
}

.rotate:nth-of-type(44) .flip_pos {
  transform: translateY(198px);
}

.rotate:nth-of-type(44) .flip {
  left: calc(30% + 215px);
}

.rotate:nth-of-type(45) {
  animation: rotation linear infinite reverse;
  animation-delay: -48899ms;
  animation-duration: 50551ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(45) .flip_rotate {
  transform: rotateX(15deg);
}

.rotate:nth-of-type(45) .flip_pos {
  transform: translateY(242px);
}

.rotate:nth-of-type(45) .flip {
  left: calc(30% + 278px);
}

.rotate:nth-of-type(46) {
  animation: rotation linear infinite reverse;
  animation-delay: -44696ms;
  animation-duration: 62112ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(46) .flip_rotate {
  transform: rotateX(8deg);
}

.rotate:nth-of-type(46) .flip_pos {
  transform: translateY(244px);
}

.rotate:nth-of-type(46) .flip {
  left: calc(30% + 377px);
}

.rotate:nth-of-type(47) {
  animation: rotation linear infinite reverse;
  animation-delay: -42577ms;
  animation-duration: 58774ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(47) .flip_rotate {
  transform: rotateX(35deg);
}

.rotate:nth-of-type(47) .flip_pos {
  transform: translateY(329px);
}

.rotate:nth-of-type(47) .flip {
  left: calc(30% + 351px);
}

.rotate:nth-of-type(48) {
  animation: rotation linear infinite reverse;
  animation-delay: -48956ms;
  animation-duration: 48644ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(48) .flip_rotate {
  transform: rotateX(20deg);
}

.rotate:nth-of-type(48) .flip_pos {
  transform: translateY(205px);
}

.rotate:nth-of-type(48) .flip {
  left: calc(30% + 484px);
}

.rotate:nth-of-type(49) {
  animation: rotation linear infinite reverse;
  animation-delay: -49509ms;
  animation-duration: 68801ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(49) .flip_rotate {
  transform: rotateX(35deg);
}

.rotate:nth-of-type(49) .flip_pos {
  transform: translateY(355px);
}

.rotate:nth-of-type(49) .flip {
  left: calc(30% + 222px);
}

.rotate:nth-of-type(50) {
  animation: rotation linear infinite reverse;
  animation-delay: -46590ms;
  animation-duration: 20583ms;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate:nth-of-type(50) .flip_rotate {
  transform: rotateX(43deg);
}

.rotate:nth-of-type(50) .flip_pos {
  transform: translateY(218px);
}

.rotate:nth-of-type(50) .flip {
  left: calc(30% + 366px);
}


.rotate:nth-of-type(1) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 32385ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(2) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 10630ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(3) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 8482ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(4) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 32225ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(5) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 14317ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(6) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 4428ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(7) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 26462ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(8) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 32251ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(9) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 20147ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(10) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 25344ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(11) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 28048ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(12) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 8190ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(13) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 32482ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(14) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 26957ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(15) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 9849ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(16) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 5489ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(17) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 7762ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(18) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 29450ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(19) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 23632ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(20) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 13521ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(21) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 24547ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(22) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 23634ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(23) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 17561ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(24) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 32263ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(25) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 20508ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(26) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 31114ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(27) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 9038ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(28) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 6572ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(29) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 4317ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}
.rotate:nth-of-type(30) .flip {
  background-color: #f9f2ee;
  box-shadow: 0px 0px 10px 1px #f9f2ee;
  animation: rotate01 12512ms infinite;
}
@keyframes rotate01 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.8;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.6;
  }
}

.rotate:nth-of-type(31) .flip {
  background-color: #f9d2d3;
  animation: rotate02 20048ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(32) .flip {
  background-color: #f9d2d3;
  animation: rotate02 28143ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(33) .flip {
  background-color: #f9d2d3;
  animation: rotate02 14396ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(34) .flip {
  background-color: #f9d2d3;
  animation: rotate02 26539ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(35) .flip {
  background-color: #f9d2d3;
  animation: rotate02 29436ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(36) .flip {
  background-color: #f9d2d3;
  animation: rotate02 14029ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(37) .flip {
  background-color: #f9d2d3;
  animation: rotate02 22096ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(38) .flip {
  background-color: #f9d2d3;
  animation: rotate02 29583ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(39) .flip {
  background-color: #f9d2d3;
  animation: rotate02 24857ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(40) .flip {
  background-color: #f9d2d3;
  animation: rotate02 7874ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(41) .flip {
  background-color: #f9d2d3;
  animation: rotate02 21040ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(42) .flip {
  background-color: #f9d2d3;
  animation: rotate02 23367ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(43) .flip {
  background-color: #f9d2d3;
  animation: rotate02 32201ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(44) .flip {
  background-color: #f9d2d3;
  animation: rotate02 11843ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(45) .flip {
  background-color: #f9d2d3;
  animation: rotate02 27951ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(46) .flip {
  background-color: #f9d2d3;
  animation: rotate02 23598ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(47) .flip {
  background-color: #f9d2d3;
  animation: rotate02 16897ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(48) .flip {
  background-color: #f9d2d3;
  animation: rotate02 6114ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(49) .flip {
  background-color: #f9d2d3;
  animation: rotate02 3128ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}
.rotate:nth-of-type(50) .flip {
  background-color: #f9d2d3;
  animation: rotate02 8803ms infinite;
}
@keyframes rotate02 {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(0);
    opacity: 0.4;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5) rotateY(180deg);
    opacity: 0.1;
  }
}



