
	table {
            border-collapse: collapse;
            width: 400px;
            margin: 20px auto;					
			background-color: #8DD4C1;	
        }        
	#zt{	
	font-size: 30px;
	line-height: 50px;
	}
	#wz{
	font-family: "楷体";
	font-size: 20px;
	line-height: 30px;		
	}

